<div id="<%= dom_id feed %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= feed.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= feed.url %>
  </p>

</div>
