<div id="<%= dom_id item %>">
  <details>
    <summary>
      <%= item.title %>
    </summary>
    <p class="my-5">
      <%= item.link %>
    </p>
    <p class="my-5">
      <%= item.description %>
    </p>
  </details>
</div>
