<div id="<%= dom_id item %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= item.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Link:</strong>
    <%= item.link %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= item.description %>
  </p>

</div>
